/*Modificador de contenedores*/
.container-fluid-1 {
  background: rgb(3, 8, 36);
  color: white;
  border-radius: 10px;
}
.container-fluid-1 p {
  margin-left: 40px;
  margin-right: 40px;
}

.container-fluid-1 h1 {
  color: red;
  font-style: italic;
  margin: 25px;
}
/*Modifica la barra de navegacion*/
.navbar {
  background-color: currentColor;
}

body {
  background-image: url("/images/fuondo.png");
}

.fs-3 {
  /*Logo de pie de pag*/
  color: rgb(105, 206, 11);
}
footer {
  /*Pie de página*/
  text-align: center;

  background: rgb(3, 24, 73);
  color: rgb(255, 255, 255);
}
