/*Modificador de contenedores*/
.container-fluid-1 {
  background: rgb(3, 8, 36);
  color: white;
  border-radius: 10px;
  border: cyan;
  width: auto;
}
.container-fluid-1 p {
  margin: 30px;
}
.container-fluid-1 h1 {
  margin: 40px;
  color: red;
  font-style: italic;
}
/*Modifica la barra de navegacion*/
.navbar {
  background-color: currentColor;
  border-radius: 10px;
}

body {
  background-image: url("/images/fuondo.png");
  background-color: yellow;
}

.fs-3 {
  /*Logo de pie de pag*/
  color: rgb(105, 206, 11);
}
footer {
  /*Pie de página*/
  text-align: center;

  background: rgb(3, 24, 73);
  color: rgb(255, 255, 255);
}
