/*CSS*/
body {
  /*Cuerpo*/
  background-color: rgb(3, 3, 3);
  /*Color de fondo*/
  background-image: url("/images/FondoHTML.png");
  /*Imagen de fondo*/
}

#t{/*Titulo*/
  background-color: #000;
}

nav {
  width: 15%;
  float:left
}

nav a{
  background-color:aquamarine;
  border-radius: 10px 0 10px 0;
color: rgb(250, 0, 229);
margin: 10px;
padding: 10px;
text-decoration: none;
display: block;

}

#c {
  /*Cuerpo*/
  width: 80%;
  float:right;
  border-radius: 5px;
  border:3px solid black ;
  background: linear-gradient(#58c718, #c427a9);
  color: rgb(0, 0, 0,.8); 
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 1px 0 4px rgb(0,0,0,.2);
  
}
  
 

footer {
  /*Pie de página*/
  background-color: rgb(0, 117, 212);
  clear: both;
}

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#0c09b7, #41631b);
}
.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 10px;
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
}
.contenedor .elemento label{
    color: #fff;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}