[class*="con"]{
    <<<<<<< HEAD
        border: 2px solid rgba(0, 0, 0, 0);
    }
    
    /*Fondo animado index*/
    /*CSS fondo animado*/
    @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
    .hero {
      background: linear-gradient(#09b74c, #1abad3);
      position: relative;
      height: auto;
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
    }
    
    .hero__title {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 50px;
      z-index: 1;
    }
    
    .cube {
      position: absolute;
      top: 80vh;
      left: 45vw;
      width: 10px;
      height: 10px;
      border: solid 1px #00ff4c2a;
      -webkit-transform-origin: top left;
              transform-origin: top left;
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      -webkit-animation: cube 12s ease-in forwards infinite;
              animation: cube 12s ease-in forwards infinite;
    }
    .cube:nth-child(2n) {
      border-color: #f400002a;
    }
    .cube:nth-child(2) {
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      left: 25vw;
      top: 40vh;
    }
    .cube:nth-child(3) {
      -webkit-animation-delay: 4s;
              animation-delay: 4s;
      left: 75vw;
      top: 50vh;
    }
    .cube:nth-child(4) {
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      left: 90vw;
      top: 10vh;
    }
    .cube:nth-child(5) {
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      left: 10vw;
      top: 85vh;
    }
    .cube:nth-child(6) {
      -webkit-animation-delay: 6s;
              animation-delay: 6s;
      left: 50vw;
      top: 10vh;
    }
    
    @-webkit-keyframes cube {
      from {
        -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
                transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    =======
          border: 3px solid steelblue;
      }
      
      /*Fondo animado index*/
      /*CSS fondo animado*/
      @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
      .hero {
        background: linear-gradient(#09b74c, #1abad3);
        position: relative;
        height: auto;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
    >>>>>>> e73cf7957c3b0dbf52788e93fc62fe607b496a7a
      }
      
      .hero__title {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 50px;
        z-index: 1;
      }
      
      .cube {
        position: absolute;
        top: 80vh;
        left: 45vw;
        width: 10px;
        height: 10px;
        border: solid 1px #00ff4c2a;
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
                transform: scale(0) rotate(0deg) translate(-50%, -50%);
        -webkit-animation: cube 12s ease-in forwards infinite;
                animation: cube 12s ease-in forwards infinite;
      }
      .cube:nth-child(2n) {
        border-color: #f400002a;
      }
      .cube:nth-child(2) {
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
        left: 25vw;
        top: 40vh;
      }
      .cube:nth-child(3) {
        -webkit-animation-delay: 4s;
                animation-delay: 4s;
        left: 75vw;
        top: 50vh;
      }
      .cube:nth-child(4) {
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
        left: 90vw;
        top: 10vh;
      }
      .cube:nth-child(5) {
        -webkit-animation-delay: 3s;
                animation-delay: 3s;
        left: 10vw;
        top: 85vh;
      }
      .cube:nth-child(6) {
        -webkit-animation-delay: 6s;
                animation-delay: 6s;
        left: 50vw;
        top: 10vh;
      }
      
      @-webkit-keyframes cube {
        from {
          -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
                  transform: scale(0) rotate(0deg) translate(-50%, -50%);
          opacity: 1;
        }
        to {
          -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
                  transform: scale(20) rotate(960deg) translate(-50%, -50%);
          opacity: 0;
        }
      }
    <<<<<<< HEAD
    }
    /*Fin de fondo animado*/
    
    footer {
        /*Pie de página*/
        color: green;
        background-color: rgb(44, 43, 43)!important;
        width:100% !important;
        clear: both!important;
        padding: 1px ;
      }
    =======
      
      @keyframes cube {
        from {
          -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
                  transform: scale(0) rotate(0deg) translate(-50%, -50%);
          opacity: 1;
        }
        to {
          -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
                  transform: scale(20) rotate(960deg) translate(-50%, -50%);
          opacity: 0;
        }
      }
      /*Fin de fondo animado*/
      
      footer {
          /*Pie de página*/
          text-align: center;
          background-color: rgb(221, 219, 219)!important;
        }
    >>>>>>> e73cf7957c3b0dbf52788e93fc62fe607b496a7a
    